{% from 'bootstrap/nav.html' import render_nav_item %}

{% block styles %}
<!-- Bootstrap CSS -->
{{ bootstrap.load_css() }}
{% endblock %}

{% block scripts %}
<!-- Optional JavaScript -->
{{ bootstrap.load_js() }}
{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-nav mr-auto">
        {{ render_nav_item('home', 'Home') }}
        {{ render_nav_item('edit', 'Edit') }}
        {{ render_nav_item('contact', 'Advice') }}
        {{ render_nav_item('links', 'Links') }}
        {{ render_nav_item('contactme', 'Contactme') }}
    </div>
</nav>

<p><a href="https://weibo.com/5904392048/profile?topnav=1&wvr=6&is_all=1">新浪微博：十十十秋</a></p>
<p>Email: snowforwork@outlook.com</p>

{% endblock %}

