

{% from 'bootstrap/nav.html' import render_nav_item %}

{% block styles %}
<!-- Bootstrap CSS -->
{{ bootstrap.load_css() }}
{% endblock %}
{% block scripts %}
<!-- Optional JavaScript -->
{{ bootstrap.load_js() }}
{% endblock %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-nav mr-auto">
        {{ render_nav_item('home', 'Home') }}
        {{ render_nav_item('edit', 'Edit') }}
        {{ render_nav_item('contact', 'Advice') }}
        {{ render_nav_item('links', 'Links') }}
        {{ render_nav_item('contactme', 'Contactme') }}
    </div>
</nav>

{% block content %}
<h1>以后再慢慢写</h1>
<p><a href="https://github.com/Shiqiu2019/wedict/wiki/Tousers">使用前一定要看(点击这个链接)，网站有些问题会及时更新在github那个页面（MUST READ）</a></p>
{% endblock %}