{% from 'bootstrap/nav.html' import render_nav_item %}

{% block styles %}
<!-- Bootstrap CSS -->
{{ bootstrap.load_css() }}
{% endblock %}
{% block scripts %}
<!-- Optional JavaScript -->
{{ bootstrap.load_js() }}
{% endblock %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-nav mr-auto">
        {{ render_nav_item('home', 'Home') }}
        {{ render_nav_item('edit', 'Edit') }}
        {{ render_nav_item('contact', 'Advice') }}
        {{ render_nav_item('links', 'Links') }}
        {{ render_nav_item('contactme', 'Contactme') }}
    </div>
</nav>


<p><a href="https://bootstrap-flask.readthedocs.io/en/latest/index.html">Bootstrap-flask</a></p>
<p><a href="https://www.w3schools.com/bootstrap4/">Bootstrap4</a></p>
