<!doctype html>
<html>
   <head>
    <meta charset="UTF-8">
    <title>testresult.html</title>
   </head>
   <body>
      <table border = 1>
            <tr>
               <th> {{ word }} </th>
               <td> {{ meaning }} </td>
            </tr>
      </table>
      <p>other words</p>
      <table border = 1>
         {% for row in allwords %}
            <tr>
               <th> {{ row['id'] }} </th>
               <td> {{ row['word'] }} </td>
               <td> {{ row['meaning'] }} </td>
            </tr>
         {% endfor %}
      </table>
   </body>
</html>